.todo-table {
  border: 1px solid #aaa;
  border-radius: 1rem;

  .todo-header {
    margin: 0;
    color: #555;
    border-bottom: 1px solid #aaa;
    .actions {
      display: flex;
      justify-content: flex-end;
    }
  }

  .todo-row {
    margin: 0;
    color: #fff;
    background-color: #cc476a;
    border-bottom: 1px solid #aaa;

    .todo-col-actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      svg {
        padding-right: .5rem;
      }
    }

    &:last-child {
      border-bottom: none;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }

    .mobile-header {
      display: none;
    }
  }

  .todo-col {
    display: flex;
    align-items: center;
    padding: .5rem;
    word-break: break-word;
  }

  .table-footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 .5rem;
    .counter {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0;
    }
    .table-btn-wrapper {
      display: flex;
      justify-content: flex-end;
      padding: 0;
      .table-button {
        padding: .25rem .5rem;
        margin: .25rem;
        border-radius: 5px;
        border: 1px solid #aaa;
        cursor: pointer;
        &.active {
          background-color: #47a5ed;
          color: #fff;
        }
      }
    }
  }

  .completed {
    color: #004d2e;
    background-color: #9aedbe;
  }
}

@media only screen and (max-width: 768px) {
  .todo-table {
    border: none;
    .todo-header {
      display: none;

      .actions {
        display: flex;
        justify-content: flex-end;
      }
    }

    .todo-row {
      display: flex;
      flex-direction: column;
      border-radius: .5rem;
      margin-bottom: 1rem;
      font-size: 1.2rem;

      .mobile-header {
        display: inline-block;
        padding-right: .5rem;
      }

      .todo-col-actions {
        margin-top: 2rem;
        padding-bottom: 1rem;
        justify-content: center;
        svg {
          padding: 0 .5rem;
          font-size: 1.5rem;
        }
      }
    }

    .table-footer {
      display: none;
    }
  }
}