@import 'node_modules/react-redux-toastr/src/styles/index';

.app-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .app-header {
    padding: .5rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: #47a5ed;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    .header-content {
      padding: 0 1.5rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  .app-content {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .app-footer {
    padding: .5rem;
    color: #fff;
    background-color: #397bad;
    height: 15%;

    .footer-container {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      .footer-row {
        display: flex;
        justify-content: space-between;
        padding: 0 1.5rem;
        width: 100%;

        .footer-left {
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
        }

        .footer-right {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .footer-link {
            padding: .35rem;
            cursor: pointer;
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .todo-table-wrapper {
    height: 50vh;
  }

  .data-message {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    color: #999;
  }

  .todo-loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .add-todo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 15vh;
    padding-left: .5rem;
    color: #47a5ed;
  }

  .app-buttons-wrapper {
    display: flex;
    justify-content: flex-start;
    padding: 1rem .75rem;

    .app-button {
      border: 1px solid #47a5ed;
      color: #47a5ed;
      padding: .5rem 1.25rem;
      margin-right: 1rem;
      border-radius: .5rem;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 768px) {
  .app-layout {

    .app-header,
    .app-footer {
      height: auto;

      .footer-container {
        .footer-row {
          padding: 0 .5rem;

          .footer-left {
            justify-content: center;
            text-align: center;
            margin-bottom: .5rem;
          }

          .footer-right {
            justify-content: center;
          }
        }
      }
    }
  }
}